$dark: #060F42;
$soft: #F4F8FB;
$green: #06A56C;

%roboto-400{
  font-family: "Roboto-Regular";
  font-weight: 400;
}
%lato-400{
  font-family: "Lato-Regular";
  font-weight: 400;
}
%lato-700{
  font-family: "Lato-Bold";
  font-weight: 700;
}