@import "vars";
@import "fonts";
@import "reset";
@import "global";

.header {
  background-color: $dark;
  color: $soft;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 40px;
  }
  &__left-box {
    display: flex;
  }
  &__btn {
    margin-right: 24px;
    padding: 0;
    border: none;
    width: 20px;
    height: 20px;
    margin: auto 0;
    position: relative;
    background-color: $dark;
    span {
      display: block;
      width: 20px;
      height: 2px;
      background-color: #fff;
      border-radius: 50px;
    }
    &::after {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      top: 0;
      left: 0;
      background-color: #fff;
      border-radius: 50px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 20px;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #fff;
      border-radius: 50px;
    }
  }
  &__menu {
    display: flex;
    align-items: center;
  }
  &__menu-items {
    display: flex;
    margin-left: 24px;
  }
  &__menu-item {
    font-size: 10px;
    line-height: 12px;
  }
  &__menu-item + .header__menu-item {
    margin-left: 24px;
  }
  &__menu-link {
    color: inherit;
    font-size: 10px;
    line-height: 12px;
  }
  // -----
  &__user-box {
    display: flex;
    align-items: center;
  }
  &__user-lg span {
    font-size: 10px;
    line-height: 12px;
    margin: 0 10px;
  }
  &__user-btn {
    font-size: 10px;
    line-height: 12px;
    color: inherit;
    text-transform: uppercase;
  }
  &__user-btn--active {
    opacity: 0.3;
  }
  &__user-icon {
    margin-left: 40px;
  }
  &__user-img {
    width: 24px;
    height: 24px;
    object-fit: cover;
  }
}
.top {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 0;
  }
  &__btn {
    background-color: $green;
    border: none;
    border-radius: 4px;
    padding: 9px 44px 9px 12px;
    color: $soft;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    min-height: 42px;
    position: relative;
    transition: all .3s;
    cursor: pointer;
    &::before {
      content: "";
      position: absolute;
      background-image: url("../images/top/btn-img.svg");
      background-position: center center;
      background-repeat: no-repeat;
      height: 20px;
      width: 20px;
      top: 50%;
      transform: translateY(-50%);
      right: 12px;
    }
    &:hover{
      background-color: #37BD8D;
    }
  }
  &__form {
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    max-width: 758px;
    width: 100%;
  }
  &__form-input {
    border: none;
    padding: 13px 12px;
    border-radius: 4px;
    color: #060f42;
    width: 100%;
    &::placeholder {
      color: #e5e5e5;
    }
  }
  &__form-search {
    border: none;
    padding: 0;
    background-color: #01579b;
    width: 48px;
    border-radius: 0px 3px 3px 0px;
    background-image: url(../images/top/shape-icon.svg);
    background-repeat: no-repeat;
    background-position: center center;
    margin: -1px;
  }
  &__box {
    display: flex;
    align-items: center;
  }
  &__tel {
    color: $dark;
    font-size: 18px;
    line-height: 28px;
  }
  &__tel-wrapper {
    display: flex;
  }
  &__tel-div {
    padding-right: 30px;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      border-top: 3px solid $dark;
      border-radius: 3px;
      width: 10px;
      right: 6px;
      top: 12px;
      transform: rotate(45deg);
    }
    &::after {
      content: "";
      position: absolute;
      border-top: 3px solid $dark;
      border-radius: 3px;
      width: 10px;
      right: 0;
      top: 12px;
      transform: rotate(-45deg);
    }
  }
  &__decor {
    border-right: 2px solid $dark;
    height: 32px;
    border-radius: 2px;
  }
  &__box-item {
    position: relative;
    &::before {
      content: "22";
      position: absolute;
      width: 20px;
      height: 20px;
      background-color: #ffcd1b;
      border-radius: 50%;
      top: -16px;
      right: -7px;
      font-size: 10px;
      line-height: 8px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__box-item + .top__box-item {
    margin-left: 24px;
  }
}
@import "media";
